include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include negmas/external/*.jar
global-include *.jar
graft external
graft tests
graft negmas/external
graft negmas/tests

