[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
joblib = "*"
pytest-runner = "*"
colorlog = "*"
e1839a8 = {path = ".",editable = true}
"py4j" = "*"
dataclasses = "*"
inflect = "*"
stringcase = "*"
pyyaml = "*"
tabulate = "*"
"progressbar2" = "*"
click = "*"
pytest = "*"

[dev-packages]
"pep8" = "*"
pydocstyle = "*"
"flake8" = "*"
yapf = "*"
ipython = "*"
matplotlib = "*"
recommonmark = "*"
pytest = "*"
tox = "*"
typeshed = "*"
wheel = "*"
pipenv = "*"
clizy = "*"
pipreqs = "*"
numpydoc = "*"
pypandoc = "*"
pycodestyle = "*"
docutils = "*"
markupsafe = "*"
bumpversion = "*"
watchdog = "*"
coverage = "*"
pytest-cov = "*"
hypothesis = "*"
mypy = "*"
ipykernel = "*"
"nb2plots" = "*"
pandoc = "*"
nbconvert = "*"
vermin = "*"
pipenv-to-requirements = "*"
white = "*"
jupyter-nbextensions-configurator = "*"
"autopep8" = "*"
isort = "*"
yappi = "*"
line-profiler = "*"
req = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"
sphinxcontrib-fulltoc = "*"
sphinxcontrib-napoleon = "*"
sphinx-automodapi = "*"
sphinx-autodoc-annotation = "*"
cprofilev = "*"
snakeviz = "*"
twine = "*"

[requires]
python_version = "3.6"
