[tool.poetry]
name = "negmas"
version = "0.2.0"
description = "NEGotiations Managed by Agent Simulations"
authors = ["Yasser Mohammad <yasserfarouk@gmail.com>"]
license = "GPL-2.0+"

readme = 'README.rst'

repository = "https://github.com/yasserfarouk/negmas"
homepage = "https://github.com/yasserfarouk/negmas"

keywords = ['negotiation', 'mas', 'multi-agent', 'simulation', 'AI']

include = ["*.rst", "LICENSE"]
exclude = ["negmas/**/*.pyc", "nemgas/**/__pycache__", "config", "docs", "etc", "notebooks", "tests"]

[tool.poetry.dependencies]
python = ">=3.6"
Click = ">=6.0"
dataclasses = { version = "*", python = "<3.7" }
PyYAML = "5.1b1" # to avoid a security issue found by github
distributed = { version = "*", optional = true }
progressbar2 = ">=3.39"
typing_extensions = ">=3.7"
pytest-runner = ">=4.4"
pandas = ">=0.24.1"
scipy = ">=1.2"
numpy = ">=1.16"
stringcase = "*"
py4j = "*"
colorlog = "*"
inflect = "*"
matplotlib = "*"
setuptools = ">=40.8.0"
tabulate = "*"
typing = "*"
tqdm = ">=4.31.1"

[tool.poetry.dev-dependencies]
lockfile = "*"
pytest = "*"
pytest-cov = "*"
poetry = "*"
hypothesis = "*"
tox = "*"
poetry-setup = "*"
codacy-coverage = "*"
pytest-timeout = "^1.3"
coverage = "*"
bumpversion = "*"
typing-extensions = "*"
docopt =  { version = "*", optional = false }
docutils =  { version = "*", optional = false }
Sphinx =  { version = "*", optional = false }
sphinx =  { version = "*", optional = false }
sphinx-autodoc-annotation =  { version = "*", optional = false }
sphinx-autodoc-typehints =  { version = "*", optional = false }
sphinx-automodapi =  { version = "*", optional = false }
sphinx-rtd-theme =  { version = "*", optional = false }
sphinxcontrib-napoleon =  { version = "*", optional = false }
sphinxcontrib-websupport =  { version = "*", optional = false }
sphinxtesters =  { version = "*", optional = false }
ipykernel =  { version = "*", optional = false }
ipython =  { version = "*", optional = false }
ipython-genutils =  { version = "*", optional = false }
ipywidgets =  { version = "*", optional = false }
jupyter =  { version = "*", optional = false }
jupyter-client =  { version = "*", optional = false }
jupyter-console =  { version = "*", optional = false }
jupyter-contrib-core =  { version = "*", optional = false }
jupyter-contrib-nbextensions =  { version = "*", optional = false }
jupyter-core =  { version = "*", optional = false }
jupyter-highlight-selected-word =  { version = "*", optional = false }
jupyter-latex-envs =  { version = "*", optional = false }
jupyter-nbextensions-configurator =  { version = "*", optional = false }
MarkupSafe =  { version = "*", optional = false }
matplotlib =  { version = "*", optional = false }
nb2plots =  { version = "*", optional = false }
nbconvert =  { version = "*", optional = false }
nbformat =  { version = "*", optional = false }
nbsphinx =  { version = "*", optional = false }
pandoc =  { version = "*", optional = false }
pandocfilters =  { version = "*", optional = false }
pycodestyle =  { version = "*", optional = false }
pydocstyle =  { version = "*", optional = false }
readme-renderer =  { version = "*", optional = false }
recommonmark =  { version = "*", optional = false }


[tool.poetry.scripts]
negmas = 'negmas.scripts.app:cli'


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"

