alabaster==0.7.12
appnope==0.1.0
argh==0.26.2
atomicwrites==1.3.0
attrs==18.2.0
autopep8==1.4.3
Babel==2.6.0
backcall==0.1.0
bleach==3.1.0
bokeh==1.0.4
bumpversion==0.5.3
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cloudpickle==0.8.0
colorlog==4.0.2
commonmark==0.8.1
coverage==4.5.2
cycler==0.10.0
dask==1.1.1
dataclasses==0.6
decorator==4.3.2
defusedxml==0.5.0
distributed==1.25.3
docopt==0.6.2
docutils==0.14
entrypoints==0.3
filelock==3.0.10
flake8==3.7.5
future==0.17.1
HeapDict==1.0.0
hypothesis==4.5.0
idna==2.8
imagesize==1.1.0
inflect==2.1.0
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.2
Jinja2==2.10
joblib==0.13.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
kiwisolver==1.0.1
llvmlite==0.27.1
lxml==4.3.1
MarkupSafe==1.1.0
matplotlib==3.0.2
mccabe==0.6.1
mistune==0.8.4
more-itertools==5.0.0
msgpack==0.6.1
mypy==0.660
mypy-extensions==0.4.1
nb2plots==0.6
nbconvert==5.4.1
nbformat==4.4.0
nbsphinx==0.4.2
networkx==2.2
notebook==5.7.4
numpy==1.16.1
numpydoc==0.8.0
packaging==19.0
pandas==0.24.1
pandoc==1.0.2
pandocfilters==1.4.2
parso==0.3.2
pathtools==0.1.2
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
pipenv==2018.11.26
pipreqs==0.4.9
pkginfo==1.5.0.1
pluggy==0.8.1
ply==3.11
pockets==0.7.2
progressbar==2.5
progressbar2==3.39.2
prometheus-client==0.5.0
prompt-toolkit==2.0.8
psutil==5.5.1
ptyprocess==0.6.0
py==1.7.0
py4j==0.10.8.1
pycodestyle==2.5.0
pydocstyle==3.0.0
pyflakes==2.1.0
Pygments==2.3.1
pypandoc==1.4
pyparsing==2.3.1
pytest==4.2.0
pytest-cov==2.6.1
pytest-runner==4.2
python-dateutil==2.7.5
python-utils==2.3.0
pytz==2018.9
PyYAML==5.1b1
pyzmq==17.1.2
qtconsole==4.4.3
readme-renderer==24.0
recommonmark==0.5.0
requests==2.21.0
requests-toolbelt==0.9.1
scipy==1.2.0
Send2Trash==1.5.0
six==1.12.0
snowballstemmer==1.2.1
sortedcontainers==2.1.0
Sphinx==1.8.4
sphinx-autodoc-annotation==1.0.post1
sphinx-autodoc-typehints==1.6.0
sphinx-automodapi==0.10
sphinx-rtd-theme==0.4.2
sphinxcontrib-fulltoc==1.2.0
sphinxcontrib-napoleon==0.7
sphinxcontrib-websupport==1.1.0
sphinxtesters==0.2.1
stringcase==1.2.0
tabulate==0.8.3
tblib==1.3.2
terminado==0.8.1
testpath==0.4.2
texext==0.6.1
toml==0.10.0
toolz==0.9.0
tornado==5.1.1
tox==3.7.0
tqdm==4.30.0
traitlets==4.3.2
twine==1.12.1
typed-ast==1.2.0
typeshed==0.0.1
typing-extensions==3.7.2
urllib3==1.24.1
virtualenv==16.3.0
virtualenv-clone==0.5.1
watchdog==0.9.0
wcwidth==0.1.7
webencodings==0.5.1
white==0.1.2
widgetsnbextension==3.4.2
yapf==0.25.0
yappi==0.99
yarg==0.1.9
zict==0.1.3
