-i https://pypi.python.org/simple
-e .
atomicwrites
attrs
click
colorlog
coverage
dataclasses
hypothesis
inflect
joblib
more-itertools
numpy
pandas
pluggy
progressbar2
py4j
py
pytest-cov
pytest-runner
pytest
python-dateutil
python-utils
pytz
pyyaml
scipy
six
stringcase
tabulate
distributed
alabaster
appnope
argh
atomicwrites
attrs
autopep8
babel
backcall
bleach
bumpversion
certifi
chardet
commonmark
coverage
cycler
decorator
defusedxml
docopt
docutils
entrypoints
filelock
flake8
future
hypothesis
idna
imagesize
ipykernel
ipython-genutils
ipython[notebook]
ipywidgets
jedi
jinja2
jsonschema
jupyter-client
jupyter-core
kiwisolver
markupsafe
matplotlib
mccabe
mistune
more-itertools
mypy-extensions
mypy
nb2plots
nbconvert
nbformat
notebook
numpy
numpydoc
packaging
pandoc
pandocfilters
parso
pathtools
pep8
pexpect
pickleshare
pipenv
pipreqs
pkginfo
pluggy
ply
pockets
prometheus-client
prompt-toolkit
ptyprocess
py
pycodestyle
pydocstyle
pyflakes
pygments
pypandoc
pyparsing
pytest-cov
pytest
python-dateutil
pytz
pyyaml
pyzmq
readme-renderer
recommonmark
requests-toolbelt
requests
send2trash
six
snowballstemmer
sphinx-autodoc-annotation
sphinx-autodoc-typehints
sphinx-automodapi
sphinx-rtd-theme
sphinx
sphinxcontrib-fulltoc
sphinxcontrib-napoleon
sphinxcontrib-websupport
sphinxtesters
terminado
testpath
texext
toml
tornado
tox
tqdm
traitlets
twine
typed-ast
typeshed
urllib3
virtualenv-clone
virtualenv
watchdog
wcwidth
webencodings
wheel
white
widgetsnbextension
yapf
yappi
yarg
typing_extensions
numba
jupyter
jupyter_contrib_nbextensions
