-i https://pypi.python.org/simple
pytest-runner = "*"
pandas = "*"
scipy = "*"
numpy = "*"
stringcase = "*"
py4j = "*"
colorlog = "*"
inflect = "*"
matplotlib = "*"
hypothesis = "*"
setuptools = "*"
tabulate = "*"
pytest-cov = "*"
typing = "*"
