typer
Click (>=6.0)
psutil
PyYAML
click-config-file (>=0.4.5)
colorlog
inflect
matplotlib
numpy (>=1.16)
pandas (>=0.24.1)
progressbar2 (>=3.39)
py4j
pytest-runner (>=4.4)
pytest-timeout (>=1.3)
pytest-check
scipy (>=1.2)
stringcase
tabulate
typing
typing_extensions (>=3.7)
dill
seaborn
scikit-learn
networkx
# pyqt5
gif
rich
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
numba; python_version < "3.11"
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
