-e .
Sphinx
sphinx-autodoc-annotation
sphinx-autodoc-typehints
sphinx-automodapi
sphinxcontrib-fulltoc
sphinxcontrib-websupport
sphinx-tabs
sphinx-testing
sphinx-rtd-theme
# sphinx-press-theme
# groundwork-sphinx-theme
# python-docs-theme
# sphinx-sizzle-theme
nbformat
nbsphinx
# nb2plots
pillow>=10.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
ruff
notebook==6.4.12
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
