-e .
Sphinx>=7.0.0
sphinx-autodoc-annotation
sphinx-autodoc-typehints
sphinx-automodapi
sphinxcontrib-fulltoc
sphinxcontrib-websupport
sphinx-tabs>=3.4.0
sphinx-testing
furo>=2024.1.29
sphinx-copybutton>=0.5.2
nbformat
nbsphinx
pillow>=10.0.0
ipykernel>=6.29.0
pandoc
