-e .
Sphinx
sphinx-autodoc-annotation
sphinx-autodoc-typehints
sphinx-automodapi
sphinxcontrib-fulltoc
sphinxcontrib-websupport
sphinxtesters
sphinx-rtd-theme
sphinx-press-theme
groundwork-sphinx-theme
python-docs-theme
sphinx-sizzle-theme
nbformat
nbsphinx
nb2plots
tornado>=6.3.2 # not directly required, pinned by Snyk to avoid a vulnerability
