name: JupyterNotebooks

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]

jobs:
  tests:
    name: "Python ${{ matrix.python-version }}"
    runs-on: "ubuntu-latest"

    strategy:
      matrix:
        python-version: ['3.10', '3.11']

    steps:
      - uses: "actions/checkout@v2"
      - uses: "actions/setup-python@v1"
        with:
          python-version: "${{ matrix.python-version }}"
      - name: "Install dependencies"
        run: |
          set -xe
          ulimit -n 50000
          python -VV
          python -m site
          python -m pip install --upgrade pip setuptools wheel pytest
          python -m pip install -e .
          python -m ipykernel install --user --name=negmas
      - name: "Setting up environment"
        run: |
      - name: "Run pytest for ${{ matrix.python-version }}"
        run: "python -W ignore -m pytest tests/test_jupyter.py"
