name: CI-Bridge

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  tests:
    name: "Python ${{ matrix.python-version }}"
    runs-on: "ubuntu-latest"
    env:
      USING_COVERAGE: '3.9'

    strategy:
      matrix:
        python-version: ["3.9"]

    steps:
      - uses: "actions/checkout@v2"
      - uses: "actions/setup-python@v1"
        with:
          python-version: "${{ matrix.python-version }}"
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu' # See 'Supported distributions' for available options
          java-version: '15'
      - name: "Install dependencies"
        run: |
          set -xe
          python -VV
          python -m site
          python -m pip install --upgrade pip setuptools wheel pytest
          python -m pip install --upgrade  virtualenv
          python -m pip install -r requirements.txt
          python -m pip install -r requirements-elicitation.txt

      - name: "Install negmas and geinus-bridge"
        run: |
          python -m pip install -e .
          negmas genius-setup
      - name: "running genius bridge"
        run: "java -jar ~/negmas/files/geniusbridge.jar --silent --no-logs &"
      - name: "Run pytest for ${{ matrix.python-version }}"
        run: "python -m pytest . || python -m pytest --last-failed ."
